!!! 5
%html
  %head
    %title Stock Exchange app in Sinatra
    %link{:href=> 'stylesheets/bootstrap.min.css', :rel => 'stylesheet', :type => 'text/css'}
    :css
      .container {
        margin-top: 30px;
      }
  %body
    .container
      %h1 Stock Exchange with Sinatra and HAML
      %h3 Get Stock Quote
      %p We shall be using Yahoo!
      %form{:action => "/show", :method=>"get"} 
        <input type="text" name="symbol" placeholder="e.g. GOOG, AAPL" id="symbol">
        <input type="submit" class="primary btn" value="Fetch!">
